body{
    text-align:center;
    color:red;
    background-color:black;
    }
h1{
    font-size:70px;
    }
h2{
    font-size:40px;
    color:white;
    }    

ul{
    margin-left:100px;
    margin-right:100px;
    color:white;
    }
img{
    height:350px;
    }
